* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: linear-gradient(45deg, black, #708090)
}

header {
    text-align: center;
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    color: white;
    margin: 100px auto;
    border-radius: 20px;
    padding: 80px 40px;
    text-align: center;
}

.search-bar {
    border-radius: 30px;
    display: flex;
    background: white;
}

.search input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
}

.search-bar button {
    background: transparent;
    color: #555;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}


.error {
    margin-top: 50px;
    font-size: 30px;
    display: none;

}

footer {
    text-align: center;
    padding: 10px 0;
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    color: white;
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 40px 20px;
    }

    .weather-details {
        flex-direction: column;
    }

    .col {
        margin: 10% 0;
    }
}